.background {
    height: 1000px;
    width: 1000px;
}

.card {
    height: 187px;
    width: 139px;
    background-image: url("cards.7e0a18f0.png");
    background-repeat: no-repeat;
    display: inline-block;
}

.queen {
    background-position: -433px -1791px;
}

.nine {
    background-position: -288px -1393px;
}

.ace {
    background-position: -145px -2189px;
}

.joker {
    background-position: 0px -2388px;
}